
.btn-center{
  margin: 5px 5px 5px 50%;
  transform:translateX(-50%);
}
.btn-question-add{

}
.add-form:hover{
  color: darkolivegreen;
}

.generated-input{
  display: inline;
  width: 70%;
}
.generated-checkbox{
  display: inline-block;
}
.question-container{
  display: inline-table;
  padding: 10px;
  margin: 10px;
  height: 300px;
  width: 271px;
}
.counter{
  margin: -5px 0 -15px 0;
  padding: 0;
  text-align: left;
}