
.btn-center {
    margin: 5px 5px 5px 50%;
    transform: translateX(-50%);
}

.btn-question-add {

}

.add-form:hover {
    color: darkolivegreen;
}

.generated-input {
    display: inline;
    width: 70%;
}

.generated-checkbox {
    display: inline-block;
}

.question-storage {
    display: inline-table;
    padding: 10px;
    margin: 10px;
    min-height: 150px;
    width: 290px;
}

.counter {
    margin: -5px 0 -15px 0;
    padding: 0;
    text-align: left;
}

.challenge-container {
    width: 100%;
    min-height: 500px;
    margin-left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.challenge-container-head {
    position: relative;
    top: 0;
    min-height: 150px;
    width: 100%;
    font-size: 25px;
}

.btn-check {
   margin: 25px 0 0 0;
}

.challenge-container-body {
    width: 90%;
    min-height: 150px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.challenge-container-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.challenge-question {
    display: inline-block;
    width: 100%;
}
.question-checkbox{
    text-align: left;
    margin: 10px 0 0 30px;
    display: block;
}
.question-container{
    margin: 10px 0 10px 0;
    width: 100%;
}
.awnser{
    position: absolute;
    display: inline-block;
    right: -35px;
}
.wrong-awnser{
    background-color: rgba(194, 14, 33, 0.52);
    padding: 4px;
    border-radius: 2px;
    color: white;
}
.correct-awnser{
    background-color: rgba(20, 194, 16, 0.52);
    padding: 4px;
    border-radius: 2px;
    color: white;
}

div.card-container {
    height: 200px;
    line-height: 200px;
    width: 100%;
    text-align: center;
    position: relative;
    padding: 0 24px;
}

.card-container img.card-cover-img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

span.card-text-container {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: #fff;
    position: relative;
    z-index: 2;
    font-size: 2rem;
}

@media only screen and (min-width: 993px){
    nav a.button-collapse {
        display: block;
    }
}
.eucip-sidenav{
    position: absolute;
    top: 20px;
    left:5px;
    color: white;
}
.sd-nav{
    font-size: 25px;
}
.eucip-nav{
    margin: 0 0 0 25px;
}
.question-count{
    font-size: 10px;
    margin: 0 0 -20px 0;
    padding: 10px 0 0 0;
}
.topic-indicator{
    margin: 0 0 -5px 0;
    font-size: 13px;
}